.App {
  height: 100vh;
  text-align: center;
  vertical-align: middle;
}

.inputFile {
  //display: none;
}

//
//.tableResponsive {
// overflow-x: auto;
//}
//.tableBlock {
//  //display: flex;
//  //justify-content: center;
//  min-width: 600px;
//  margin: 20px;
//  //width: 100vw;
//}

//table {
//  //table-layout: fixed;
//  //width: 100%;
//  border-collapse: separate;
//  //border: 3px solid purple;
//  max-width: 100vh;
//  overflow: visible;
//  border-spacing: 0;
//
//
//  th {
//    border-top: 2px solid purple;
//    border-bottom: 2px solid purple;
//    border-right: 2px solid purple;
//    width: 100px;
//  }
//
//  td {
//    border-bottom: 2px solid purple;
//    border-right: 2px solid purple;
//    padding: 2px 5px;
//  }
//
//  th:first-child,
//  td:first-child {
//    border-left: 2px solid purple;
//  }
//
//  thead tr {
//    text-transform: uppercase;
//  }
//
//  thead th {
//    position: sticky;
//    top: 0;
//    background-color: #edecec;
//    padding: 2px 5px;
//  }
//
//  tbody tr:nth-child(odd) {
//    background-color: aliceblue;
//  }
//}
